<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>invalid</key>
	<string>http://ad-dev.uliza.jp/work/kuchida/movie/30sec_Paris.mp4</string>
	<key>5sec</key>
	<string>https://aka-uae-dl.uliza.jp/ad-dev/861/video/201710/59e859b2-2f6c-4f5b-b26f-59410a920004-750.mp4</string>
	<key>15sec_1</key>
	<string>https://aka-uae-dl.uliza.jp/ad-dev/20170628/video/201707/596448bf-dfa4-49b9-82e9-46190a920004-750.mp4</string>
	<key>15sec_2</key>
	<string>https://aka-uae-dl.uliza.jp/ad-dev/861/video/201709/59ccbde4-82c8-44b9-a621-45950a920004-750.mp4</string>
	<key>31sec</key>
	<string>https://aka-uae-dl.uliza.jp/ad-dev/861/video/201802/5a83ee8b-e2c8-45d2-8a05-0a400a920015-750.mp4</string>
	<key>71sec</key>
	<string>https://aka-uae-dl.uliza.jp/ad-dev/0/video/201707/5976ee6f-e370-461b-a974-2dfb0a920004-750.mp4</string>
	<key>600sec</key>
	<string>https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_ts/master.m3u8</string>
	<key>3600sec</key>
	<string>http://biis1-htorg.uliza.jp/UAE/1hour.mp4</string>
</dict>
</plist>
